### Exercise

As an exercise, try to encode features of the Adult Dataset. Details about this dataset can be found [here](https://www.kaggle.com/wenruliu/adult-income-dataset).

In [1]:
import pandas as pd
import numpy as np

In [3]:
# Source: https://www.oreilly.com/library/view/introduction-to-machine/9781449369880/ch04.html

# The file has no headers naming the columns, so we pass header=None
# and provide the column names explicitly in "names"
data = pd.read_csv(
    'adult.csv', header=None, index_col=False,
    names=['age', 'workclass', 'fnlwgt', 'education',  'education-num',
           'marital-status', 'occupation', 'relationship', 'race', 'gender',
           'capital-gain', 'capital-loss', 'hours-per-week', 'native-country',
           'income'])

# For illustration purposes, we only select some of the columns
df_adult = data[['age', 'workclass', 'education', 'gender', 'hours-per-week',
             'occupation', 'income']]

df_adult.head()

,age,workclass,education,gender,hours-per-week,occupation,income
0,age,workclass,education,gender,hours-per-week,occupation,income
1,25,Private,11th,Male,40,Machine-op-inspct,<=50K
2,38,Private,HS-grad,Male,50,Farming-fishing,<=50K
3,28,Local-gov,Assoc-acdm,Male,40,Protective-serv,>50K
4,44,Private,Some-college,Male,40,Machine-op-inspct,>50K

In [4]:
df_adult.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48843 entries, 0 to 48842
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             48843 non-null  object
 1   workclass       48843 non-null  object
 2   education       48843 non-null  object
 3   gender          48843 non-null  object
 4   hours-per-week  48843 non-null  object
 5   occupation      48843 non-null  object
 6   income          48843 non-null  object
dtypes: object(7)
memory usage: 2.6+ MB

In [5]:
#Complete the exercise!